<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Track Courier</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h1>Welcome to Track Courier Application</h1><hr/>
	    <a href="#">Login</a>  |  
	    <a href="/users/register">Register</a><br/>
	    
	    <h3>Track your courier here</h3>
	    <label>Courier ID</label>
	    <input type="text" placeholder="Enter courier id here" /><br/>
	    <button type="submit" class="btn btn-primary">Track</button>
	</div>
</body>
</html>