<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Track Courier</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h2>Login</h2><hr/>
		<form method="POST" id="login-form" action="/users/login">
			<label>Username</label>
			<input type="text" name="username"/>

			<label>Password</label>
			<input type="password" name="password"/>
			<br/>
			<div th:if="${user_not_exists != null}" th:text="${user_not_exists}" style="color:red"></div>
			<button type="submit" class="btn btn-primary">Login</button>
			<a class="btn btn-primary" href="/">Back</a>
		</form>
	</div>
</body>
</html>